{% extends "layout.html" %}

{% block title %}
    Playable Characters
{% endblock %}

{% block main %}
<body class="body-bg-character"></body>

<div class="container-fluid">
  {% for characters in characters %}
  <div class="rounded-c card-main" style="">
    <div class="card-inner rounded-c" style="">
      <div class="card-front">
        <img src="{{ url_for('static', filename='images/'+ characters.image_url) }}" class="d-block w-100 img rounded-c" id="{{characters.id}}"   alt={{characters.name}}>
      </div>
      <div class="card-back rounded-c">
          <p class="p1"><br><em>Character's name</em></p>
          <p class="p1">{{ characters["name"] }}</p>
          <p class="p1"><em>Hit Points</em></p>
          <p class="p1">{{ characters["hit_points"] }}</p>
          <p class="p1"><em>Armour Class</em></p>
          <p class="p1">{{ characters["ac"] }}</p>
          <p class="p1"><em>Attack Modifier</em></p>
          <p class="p1">{{ characters["attack_mod"] }}</p>
          <p class="p1"><em>Damage Modifier</em></p>
          <p class="p1">{{ characters["damage_mod"] }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

  {% endblock %}

